@import "tailwindcss";
@plugin "tailwind-scrollbar";
@plugin "daisyui";
@import "./typography.css";
@tailwind utilities;

@layer utilities {
  .light.gc-scrollbar {
    color-scheme: light;
  }
  .dark.gc-scrollbar {
    color-scheme: dark;
  }
  .animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.02);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Saira", sans-serif;
}

.sidebarnav__icon svg {
  width: 100%;
  height: auto;
}

/* Modal */

.modal::backdrop {
  background: rgb(10 10 10 / 0.8);
}
.modal-backdrop {
  background: rgb(10 10 10 / 0.8);
}
