@import "tailwindcss";
@plugin "tailwind-scrollbar";
@plugin "daisyui";
@import "./typography.css";
@tailwind utilities;

@layer utilities {
  .light.gc-scrollbar {
    color-scheme: light;
  }
  .dark.gc-scrollbar {
    color-scheme: dark;
  }
  .gc-placeholder::placeholder {
    opacity: 0.6;
  }
  .gc-placeholder:focus::placeholder {
    opacity: 0.4;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --modal-backdrop-color: #000000;
  --modal-backdrop-opacity: 0.6;
  --modal-backdrop-blur: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Saira", sans-serif;
}

.modal.modal-open,
.modal[open],
.modal:target,
.modal-toggle:checked + .modal {
  background-color: color-mix(
    in srgb,
    var(--modal-backdrop-color) calc(var(--modal-backdrop-opacity) * 100%),
    transparent
  );
  backdrop-filter: blur(var(--modal-backdrop-blur));
  -webkit-backdrop-filter: blur(var(--modal-backdrop-blur));
}

.sidebarnav__icon svg {
  width: 100%;
  height: auto;
}
